{# Show all available jdbc sources as apps. #}
{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block subtitle %} Apps overview {% endblock %}

{% block sidebar %}
<div id="iconbox" class="sidebarbox sidebarbox-stretched iconlist">
<ul>
{% for criterion in view.forgettable_criteria %}
<li>{{ criterion.description }} <a href="{{ criterion.url }}">X</a></li>
{% endfor %}
</ul>
{% for criterion in view.chooseable_criteria %}
  <h2>{{ criterion.criterion.description }}</h2>
  <ul>
    {% for value in criterion.values %}
    <li>
{% if value.url %}
      <a href="{{ value.url }}">{{ value.description }}</a>
{% elif value.workspace_acceptable %}
      {{ value.description }} (add to workspace)
{% else %}
      {{ value.description }}
{% endif %}
    </li>
    {% endfor %}
  </ul>
{% endfor %}
</div>
{% endblock %}
